
@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Unit Total</th>
    </tr>
    @{ 
        decimal gTotal = 0;
        decimal uTotal = 0;
    }
    @foreach (var item in Model)
    {
        {
            uTotal = item.Price * item.Qty;
            gTotal += uTotal;
        }
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Qty</td>
            <td>@uTotal</td>
        </tr>
    }
    <tr>
        <th colspan="3" class="text-right">Grand Total</th>
        <th>@gTotal</th>
    </tr>
</table>

