
@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Unit Total</th>
    </tr>
    @{ 
        decimal gTotal = 0;
        decimal uTotal = 0;
    }
    @foreach (var item in Model)
    {
        {
            uTotal = item.Price * item.Qty;
            gTotal += uTotal;
        }
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>
                <a href="/order/decrease/@item.Id"><span class="glyphicon glyphicon-minus"></span></a>
                @item.Qty
                <a href="/order/increase/@item.Id"><span class="glyphicon glyphicon-plus"></span></a>
            </td>
            <td>@uTotal</td>
        </tr>
    }
    <tr>
        <th colspan="3" class="text-right">Grand Total</th>
        <th>@gTotal</th>
    </tr>
    <tr>
        <td>
            <form method="post" action="/order/placeorder">
                <input type="hidden" name="gTotal" value="@gTotal" />
                <input type="submit" value="Place Order" class="btn btn-danger" />
            </form>
        </td>
    </tr>
</table>

