
@{
    ViewBag.Title = "Details";
}


<h3>Order Id: @Model.Id</h3>
<h3>Status: @Model.Status.Name</h3>
<h2>Details</h2>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Unit Price</th>
    </tr>
    @foreach (var item in Model.OrderDetails) { 
        <tr>
            <td>@item.Product.Name</td>
            <td>@item.Qty</td>
            <td>@item.Price</td>
            <td>@(item.Qty * item.Price)</td>
        </tr>
    }
    <tr>
        <td colspan="3">Total</td>
        <td>@Model.Total</td>
    </tr>
</table>

